fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
soundfile==0.12.1

# Coqui TTS (XTTS v2 compatível) - numpy será instalado automaticamente
TTS==0.22.0

# versão compatível com XTTS (evita BeamSearchScorer error)
transformers==4.37.2
tokenizers==0.15.1

cffi==1.16.0